<h2>ALL CELEBRITIES</h2>
{{#each celebs}}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{name}}</h3>
        <h3 class="card-text">{{occupation}}</h3>
        <h3 class="card-text">{{catchPhrase}}</h3>
    </div>
</div>
{{/each}}